/*
  Filename: p2.css
  Author: David Piper
  Description:
    This file handles the styling for the SPA app for project 2.
*/

h1 {
  font-size: 1.4rem;
}

#logoBorder {
  border: 2px solid black;
  width: 150px;
  /* top | right | bottom | left */
  margin: 40px 20px 40px 20px;
}

#logo {
  text-align: center;
  margin: 10px;
  padding-top: 55.8px;
  padding-bottom: 55.8px;
  background-color: #EE622F;
  color: white;
}

#messageForm > div, #clearStorageDiv {
  /* top | right | bottom | left */
  margin: 12px 5px 12px 5px;
}
